rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /games/{game_id} {
      allow read: if true; // so users can read joinable games prior to auth

      function gameDoc() {
        return get(/databases/$(database)/documents/games/$(game_id));
      }

      match /questions/{question_id} {
        allow read: if request.auth.uid != null;
      }

      // authenticated players can join a joinable game
      // game stages: joining, in-progress, finished
      match /players/{uid} {
        allow read, write: if request.auth.uid == uid
                              && gameDoc().data.current_stage == 'joining';
      }

      match /player_answers/{uid} {
        function playerDoc() {
          return get(/databases/$(database)/documents/games/$(game_id)/players/$(uid));
        }

        allow read, write: if request.auth.uid == uid
                              && playerDoc().data.is_active == true
                              && gameDoc().data.current_stage == 'in-progress'
                              && request.resource.data.answer_id is int
                              && request.resource.data.answer_id <= gameDoc().data.active_question_max_answer_id
                              && request.resource.data.answer_id >= 0;
      }
    }
  }
}
