rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /games/{game_id} {
      allow read: if request.auth.uid;
    }

    // authenticated players can join a joinable game
    match /games/{game_id}/players/{uid} {
      allow read, write: if request.auth.uid == uid && get(/databases/$(database)/documents/games/$(game_id)).data.is_joinable == true;
    }
  }
}
